<html>
    <head>
        <title>Zaebalo shop</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Zaebalo shop</a></h1>
        </div>

        <div>
            <h2><a href="">Product 1</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>454 rubles</p>
        </div>

        <div>
            <h2><a href="">Product 2</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>146 rubles</p>
        </div>
    </body>
</html>